@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap");
:root {
  --dorado: #f3c332;
  --doradoFuerte: #efb810;
  --doradoOscuro: #d4a413;
  --grisOscuro: #525252;
  --gris: #e0e6e8;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: var(--grisclaro);
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(6px) opacity(85%);
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.fa-solid {
  color: var(--grisOscuro);
}

.formulario-cta {
  background-image: url(/build/img/money-1428587_960_720.jpg);
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 40rem;
  color: var(--gris);
  position: relative;
  text-align: center;
}

.formulario-cta__info {
  background-color: rgba(0, 0, 0, 0.582);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 40rem;
  width: 100%;
  font-size: 3rem;
  gap: 3rem;
}

.registrate {
  background-color: var(--doradoOscuro);
  color: white;
  text-decoration: none;
  padding: 1rem 3rem;
  font-weight: bold;
  transition: 0.3s;
}

.registrate:hover {
  background-color: var(--dorado);
}

.videodefondo {
  display: flex;
  height: 50vh;
  background-image: url(/build/img/pexels-photo-321452.jpeg);
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  text-shadow: 0 2px 10px #065385;
}

.videodefondo p {
  text-align: center;
  color: var(--gris);
  font-weight: bold;
  font-size: 4rem;
}
.videodefondo a {
  cursor: pointer;
  background-color: var(--doradoOscuro);
  padding: 1.5rem 4rem;
  border-radius: 1rem;
  color: white;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  z-index: 60;
  transition: 0.3s;
  box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.589);
}
.videodefondo a:hover {
  background-color: var(--dorado);
}
.hero {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  background-color: white;
  border-radius: 1rem;
}
.hero img {
  border-radius: 0 1rem 1rem 0rem;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero img {
    width: 110%;
  }
}

.hero-info-content {
  text-align: left;
  padding: 1rem;
}

.hero-info-content h1 {
  text-align: center;
  margin: 2rem;
}

.hero-info-content p {
  margin: 2rem;
}

/* //////////////////////////////////////////////////////
                 menu de navegacion
////////////////////////////////////////////////////// */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dorado);
  min-height: 9vh;
  padding: 1rem;
  box-shadow: 0 0.1rem 10px 1px rgba(128 128 128 /0.5);
  z-index: 99;
}

.logo {
  letter-spacing: 0.2rem;
  margin-left: 2rem;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: bold;
  color: var(--grisclaro);
}

.logo a {
  text-decoration: none;
  color: var(--grisOscuro);
}

.logo span {
  font-size: 3.5rem;
  font-style: italic;
  font-weight: normal;
  letter-spacing: -2px;
}

.navs-links {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  z-index: 1001;
}

@media (max-width: 990px) {
  .navs-links {
    width: 60%;
  }
}

.navs-links li {
  list-style: none;
}

.navs-links li a {
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--grisOscuro);
  text-decoration: none;
  transform: translateX(100%);
  transition: 0.1s ease-in;
}

.navs-links li a:hover {
  color: rgb(255, 255, 255);
  letter-spacing: 0.2rem;
}
#login {
  border: 1px solid #065385;
  padding: 1rem;
}
.hamburgesa {
  display: none;
  cursor: pointer;
}

.hamburgesa div {
  width: 2.5rem;
  height: 0.3rem;
  background-color: var(--grisOscuro);
  margin: 0.5rem;
  transition: all 0.2s;
}

@media (max-width: 768px) {
  .hamburgesa {
    width: 3rem;
    height: 3rem;
    display: block;
    text-align: center;
  }
  .navs-links {
    position: absolute;
    top: 9vh;
    right: 0;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: var(--dorado);
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
  }
  .navs-links li {
    opacity: 0;
  }
}

.navs-links.active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0.5;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.cruz .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.cruz .line2 {
  opacity: 0;
}

.cruz .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*   /////////////////////////////////////////////////////
                    fin de la barra de navegacion
       ////////////////////////////////////////////////////   */

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.main {
  margin-top: 5rem;
}
.seccion-titulos {
  text-align: center;
  border-bottom: solid var(--dorado) 5px;
  padding-bottom: 3rem;
  font-size: 4rem;
  margin-top: 4rem;
}

.contenedor-planes {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .contenedor-planes {
    flex-direction: row;
  }
  .planes-card {
    width: 100%;
  }
}

.planes h3 {
  text-align: center;
  font-size: 3rem;
  text-transform: capitalize;
}

.planes-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gris);
  box-shadow: 0rem 0.5rem 0.5rem 0.1rem rgb(211 211 211 / 28%);
  margin: 2rem 1rem;
  border: 2px solid var(--doradoFuerte);
  border-radius: 1rem;
}

.planes-titulo {
  padding: 2rem 0;
  background-color: var(--dorado);
  width: 100%;
}

.planes-card h3 {
  text-align: center;
  font-size: 4rem;
  color: var(--grisOscuro);
}

.planes-card p {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
  color: var(--dorado);
}

.planes-card span {
  font-size: 8rem;
}

.planes-card a {
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin: 2rem 0;
  font-size: 3rem;
  text-decoration: none;
  background-color: #065385;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  color: #f8f6fa;
  width: 80%;
  transition: 0.3s;
}

.planes-card li {
  letter-spacing: 2px;
  font-size: 1.8rem;
  padding: 0.5rem 0;
  text-transform: capitalize;
}

.planes-card a:hover {
  background-color: var(--dorado);
  color: #065385;
  letter-spacing: 0.5rem;
  box-shadow: 0 0.5rem 1rem 1rem lightgray;
}
/* .background-formulario {
  background-image: url(img/business.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 30rem;
  width: 100%;
} */

/*       //////////////                          ///////////////      */
/*      //////////////        login.php         ///////////////      */
/*     //////////////                          ///////////////      */

.formulario {
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  max-width: 80rem;
}
.deposito {
  margin-top: 0;
}
.form {
  width: 98%;
  border-radius: 0.5rem;
}

.form .Mensaje__error {
  color: rgb(255, 0, 0);
}

.form .dorado {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: var(--dorado);
  padding: 4rem 0;
  border-bottom: solid 1px var(--doradoFuerte);
  border-radius: 0.5rem 0.5rem 0 0;
}
.campos__formulario {
  color: var(--grisOscuro);
  padding: 3rem;
  padding-top: 0;
}

.form fieldset {
  border: none;
}

.form legend {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  color: var(--grisOscuro);
}
.form label {
  display: block;
  font-size: 2rem;
  /* margin-top: 2rem; */
  font-weight: 600;
  color: var(--grisOscuro);
  text-transform: uppercase;
}
.form input {
  display: block;
  width: 100%;
  padding: 1.6rem;
  border-radius: .5rem;
  border: 1px solid var(--gris);

}
.form .btn-submit {
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 3rem;
  text-decoration: none;
  background-color: #065385;
  border-radius: .5rem;
  padding: 1.5rem 2rem;
  color: #f8f6fa;
  width: 100%;
  transition: 0.3s;
  margin-top: 3rem;
  border: none;
}
.btn-submit:hover {
  background-color: var(--dorado);
  color: #065385;
  letter-spacing: 0.5rem;
  box-shadow: 0 0.5rem 1rem 1rem lightgray;
}
.form input::placeholder {
  font-size: 1.8rem;
}
.faq {
  background-color: white;
  padding: 5rem;
  margin: 0 auto;
  max-width: 80rem;

}

.faq h1 {
  margin-bottom: 3rem;
  font-size: 4rem;
}
.faq li {
  list-style: none;
}
.faq h4 {
  font-size: 4rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.faq p {
  font-size: 2rem;
}

.faq-label{
  background-color: var(--doradoOscuro);
  color: var(--grisOscuro);
  display: block;
  padding: 2rem 1rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s ease;
  margin: 1.5rem 0;
}

.faq-label:hover{
  background-color: var(--doradoFuerte);
}

.faq .acordeon-contenido{
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: all .3s;
}

.btn-acordeon{
  display: none;
}

.btn-acordeon:checked ~ .acordeon-contenido{
  padding: 1.5rem;
  max-height: fit-content;

}

.contenido-contacto {
  height: 100vh;
  
}

.contenido-contacto form {
  background-color: white;
  padding: 4rem;
  width: 98%;
  max-width: 80rem;
  margin: 0 auto;
  
}

.contenido-contacto form h1 {
  text-align: center;
  font-size: 4rem;
  margin: 4rem 0;
  border-bottom: solid 2px var(--dorado);
  color: var(--grisOscuro);
}

.contenido-contacto form label {
  color: var(--grisOscuro);
  display: block;
  margin-top: 3rem;
  font-weight: bold;
}

.contenido-contacto form input {
  color: var(--grisOscuro);
  display: block;
  font-weight: bold;
  padding: 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
  border: solid 1px var(--gris);
  border-radius: .5rem;
}

.contenido-contacto form textarea {
  display: block;
  height: 20rem;
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border: solid 1px var(--gris);
  border-radius: .5rem;
}

.contenido-contacto .btn-submit{
  background-color: #065385;
  color:var(--gris);
  border: none;
  font-size: 2rem;
  transition: .3s ease;
  padding: 2rem 4rem;
  text-transform: uppercase;
}

.contenido-contacto .btn-submit:hover{
  background-color: var(--dorado);
  color:#065385;
  box-shadow: none;

}


.btn-contacto {
  display: inline-block;
  width: auto;
  margin-top: 3rem;

}

.login-btn {
  border: solid 1px var(--dorado);
  padding: 1rem;
  border-radius: 1rem;
}

/*       //////////////                          ///////////////      */
/*      //////////////        login.php         ///////////////      */
/*     //////////////                          ///////////////      */

.login-container {
  display: grid;
  place-content: center;
  height: 100vh;
  min-width: 350px;
}

.formularioLogin {
  margin: 0 auto;
  width: 95vh;
  max-width: 50rem;
  padding: 3rem;
  /* background-color: var(--gris); */
  border: solid 1px var(--gris);
  border-radius: .5rem;
  box-shadow: 0.1rem 0.4rem 1rem 0.1rem rgba(17, 0, 90, 0.2);
}

.formularioLogin h2 {
  margin-bottom: 2rem;
  color: var(--grisOscuro);
  padding-bottom: 2rem;
  border-bottom: solid 2px var(--dorado);
}

.formularioLogin label {
  display: block;
  width: 100%;
}

.formularioLogin input {
  display: block;
  margin-bottom: 2rem;
  padding: 1.5rem;
  width: 100%;
  border: solid 1px var(--gris);
  border-radius: .5rem;
  font-size: 1.8rem;
}

.formularioLogin input::placeholder {
  font-size: 1.8rem;
}

.formularioLogin .btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  background-color: #065385;
  border: none;
  color: white;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  transition: ease 0.2s;
  font-weight: bold;
  border-radius: .5rem;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.formularioLogin .btn:hover {
  background-color: var(--dorado);
  color: var(--grisOscuro);
  font-weight: bold;
  cursor: pointer;
}

.planes-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .planes-container {
    flex-direction: row;
  }
}

.planes-container .card {
  background-color: white;
  width: 100%;
  padding: 1rem 3rem;
  border-radius: 1.5rem;
  min-height: 350px;
  margin: 2rem 0;
  box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.322);
}

.planes-container .card h3 {
  text-align: center;
  font-size: 4rem;
  color: var(--dorado);
  width: 100%;
  margin-bottom: 3rem;
}

.planes-container .card p {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  background-color: rgb(250, 250, 250);
  border-radius: 3rem;
  box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.322);
}
.planes-container .card span {
  font-size: 8rem;
  font-weight: bold;
  color: rgb(0, 87, 0);
  width: 100%;
}
.planes-container .card li {
  font-size: 2rem;
  color: gray;
  line-height: 2;
  list-style: none;
  width: 100%;
  border-bottom: 0.5px solid lightgray;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.planes-container .card a {
  display: inline-block;
  border: 2px solid var(--dorado);
  padding: 1rem 3rem;
  margin: 1rem 0;
  border-radius: 1rem;
  color: #065385;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.322);
}

.panel_monetario {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(78, 78, 78);
  padding: 2rem 1rem;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.material-icons {
  color: green;
}

.panel_monetario div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.nav__panel {
  margin: 2rem 1rem;
  font-size: 3rem;
}

.nav__panel__links li {
  margin-top: 2rem;
  background-color: wheat;
  list-style: none;
  display: block;
}
.nav__panel__links li a {
  text-decoration: none;
  color: rgb(82, 82, 82);
  /* font-weight: bold; */
  display: block;
  padding: 2rem 4rem;
}
.nav__panel__links li:hover {
  background-color: rgb(255, 136, 93);
  color: whitesmoke;
}
.nav__panel__links li a:hover {
  color: rgb(236, 236, 236);
}
.formulario-deposito {
  padding: 0;
  border-radius: 2px;

  background-color: rgba(222, 184, 135, 0.349);
  color: rgb(73, 73, 73);
  box-shadow: none;
  border-top: 1px dashed var(--dorado);
  border-bottom: 1px dashed var(--dorado);
  box-shadow: 0 5px 5px 0px rgba(128, 128, 128, 0.363);
}
.formulario-deposito fieldset {
  padding: 2rem;
}
.formulario-deposito legend {
  font-size: 3rem;
  padding: 1rem 0;
}

.formulario-deposito label {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: var(--grisOscuro);
}

.formulario-deposito input {
  background-color: rgb(255, 246, 228);
  color: var(--grisOscuro);
  padding: 1rem;
}
.formulario-deposito input::placeholder {
  color: rgb(173, 173, 173);
  font-size: 1.6rem;
}

.formulario-deposito input[type="submit"] {
  background-color: var(--dorado);
  margin-top: 3rem;
  padding: 2rem;
  transition: 0.3s;
  font-size: 2rem;
}
.formulario-deposito input[type="submit"]:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 2rem;
  box-shadow: 0px 5px 10px 1px #af72008a;
}

.alerta {
  text-align: center;
  margin-bottom: 3rem;
  padding: 2rem;
  font-size: 3rem;
  background-color: var(--doradoFuerte);
  color: var(--grisOscuro);
  font-weight: bold;
}
.alerta.exito {
  background-color: green;
  color: var(--gris);
  font-size: 1.6rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.alerta.error {
  background-color: red;
  color: var(--gris);
  font-size: 1.6rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

footer {
  background-color: var(--grisOscuro);
  color: white;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
