@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap");

// COLORES
  $dorado: #f3c332;
  $doradoFuerte: #efb810;
  $doradoOscuro: #d4a413;
  $grisOscuro: #525252;
  $gris: #e0e6e8

